[submodule "gitlab/exmple/gitops-argo"]
	path = gitlab/exmple/gitops-argo
	url = git@github.com:lisa-sum/gitops-argo.git
[submodule "kafka/client/confluent-kafka-go"]
	path = kafka/client/confluent-kafka-go
	url = git@github.com:lisa-sum/confluent-kafka-go.git
[submodule "kafka/client/segmentio-kafka-go"]
	path = kafka/client/segmentio-kafka-go
	url = git@github.com:lisa-sum/segmentio-kafka-go.git
[submodule "redis/redis-sentinel"]
	path = redis/redis-sentinel
	url = git@github.com:lisa-sum/redis-sentinel.git
