services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    pull_policy: always
    restart: on-failure:3
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
