services:
  minio:
    #image: quay.io/minio/minio
    # https://mp.weixin.qq.com/s/HJf5r96TkDQRdYkvOCofrA
    image: pgsty/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /home/docker/minio/data:/data
      - /home/docker/minio/tls:/opt/minio/certs
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=msdnmmi,.
    # 不需要修最后一个参数的端口:9001
    command: server /data --console-address ":9001" --certs-dir /opt/minio/certs
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://localhost:9000/minio/health/live" ]
