# 文档：https://docs.rustfs.com.cn/installation/docker/
# 完整的可观测性： https://github.com/rustfs/rustfs/blob/main/docker-compose.yml
services:
  # RustFS main service
  rustfs:
    security_opt:
      - "no-new-privileges:true"
    image: rustfs/rustfs:latest
    container_name: rustfs-server
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGETPLATFORM: linux/amd64
    ports:
      - "9000:9000" # S3 API port
      - "9001:9001" # Console port
    environment:
      #      - RUSTFS_VOLUMES=/data/rustfs{0..3}  # Define 4 storage volumes
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_EXTERNAL_ADDRESS=:9000  # Same as internal since no port mapping
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_ACCESS_KEY=admin
      - RUSTFS_SECRET_KEY=msdnmmi,.
      - RUSTFS_OBS_LOGGER_LEVEL=info
      - RUSTFS_TLS_PATH=/certs
      - RUSTFS_OBS_ENDPOINT=http://otel-collector:4317
    volumes:
      - data:/data
      - logs:/app/logs
      - /home/docker/rustfs/certs:/certs # TLS configuration, you should create tls directory and put your tls files in it and then specify the path here
    #    networks:
    #      - rustfs-network
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "sh", "-c",
          "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health"
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  data:
  logs:
#networks:
#  rustfs-network:
#    external: true
