services:
  pgsync:
    image: toluaina1/pgsync:latest
    container_name: pgsync_service
    # 将本地的 schema.json 映射到容器内部
    volumes:
      - ./schema.json:/app/schema.json

    # 环境变量配置
    # https://pgsync.com/env-vars/
    environment:
      # Redis Checkpointing
      REDIS_CHECKPOINT: "true"

      # Redis 连接信息
      REDIS_HOST: "apikv.com"
      REDIS_DB: "14"
      REDIS_USER: "default"
      REDIS_AUTH: "msdnmm"

      # PostgreSQL 连接信息
      PG_USER: "root"
      PG_HOST: "apikv.com"
      PG_PORT: "5432"
      PG_PASSWORD: "msdnmm"

      # Elasticsearch URL
      ELASTICSEARCH_URL: "http://apikv.com:9200"

      # pgsync 运行时参数
      # 轮询数据库间隔（考虑减少此持续时间以提高吞吐量）
      POLL_TIMEOUT: 20
      # Redis/Valkey 轮询间隔 (以秒为单位）
      REDIS_POLL_INTERVAL: 20
      # 日志输出的间隔（以秒为单位）
      LOG_INTERVAL: 20
      # 复制槽清理间隔（以秒为单位）
      REPLICATION_SLOT_CLEANUP_INTERVAL: 180

    # 容器启动命令
    command: ["-c", "schema.json", "-d", "-b"]

    # 重启策略：如果非正常退出，自动重启 (可选，但推荐用于守护进程)
    restart: on-failure:3
